# Environment
.env

# Maven
target/
dependency-reduced-pom.xml
.mvn/wrapper/dists/
.mvn/wrapper/apache-maven-*-bin/

# Keep Maven Wrapper runnable even though other JARs are ignored
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.war
*.class

# Logs
logs/

# IDEs
.idea/
*.iml
.vscode/
nbproject/private/
nb-configuration.xml
nbactions.xml
build/
dist/
nbbuild/
nbdist/

# OS files
.DS_Store
Thumbs.db
